.break-btn{
    padding: 15px;
    display: flex;
    justify-content: center;
    
    border-radius: 5px;
}
.break-btn button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid rgb(58, 89, 11);
    margin: 0 10px;
}